

.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,#c2c2c2, #5e5e5e, #6e6e6e,#1f1f1f);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    10%{
        background-position: 0 50%;
    }
}
